html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

body {
  background-color: whitesmoke; }

h1,
h2 {
  font-family: 'Press Start 2P', cursive; }

h1 {
  font-size: 1.5em; }

h2 {
  font-size: 1em; }

nav {
  background-color: gainsboro;
  position: fixed;
  top: 0px;
  width: 100%; }
  nav ul {
    float: right;
    margin-right: 1em; }
  nav li {
    display: inline;
    list-style: none; }
  nav a {
    color: #545677; }
    nav a:hover {
      color: black; }

section {
  margin: auto;
  width: 95%; }
  @media screen and (min-width: 400px) {
    section {
      width: 90%; } }
  @media screen and (min-width: 500px) {
    section {
      width: 80%; } }
  @media screen and (min-width: 700px) {
    section {
      width: 75%; } }

.intro {
  margin-top: 5em; }

.features {
  width: 95%; }
  @media screen and (min-width: 400px) {
    .features {
      width: 90%; } }
  @media screen and (min-width: 500px) {
    .features {
      width: 80%; } }
  @media screen and (min-width: 700px) {
    .features {
      width: 75%; } }
  .features p {
    text-align: justify; }
  .features .wrapper {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 100%; }
    .features .wrapper:last-child {
      margin-right: 0; }
  .features article {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 100%; }
    .features article:last-child {
      margin-right: 0; }
    .features article .middle {
      border: .2em;
      border-color: deepskyblue;
      background-color: deepskyblue; }
    .features article img {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 100%; }
      .features article img:last-child {
        margin-right: 0; }
    .features article .img-wrapper {
      height: 265px; }
    @media screen and (min-width: 640px) {
      .features article {
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 31.76157%; }
        .features article:last-child {
          margin-right: 0; } }
  .features .featuresImage {
    display: block;
    margin: auto; }

.call-to-action {
  width: 95%;
  margin: auto; }
  @media screen and (min-width: 400px) {
    .call-to-action {
      width: 90%; } }
  @media screen and (min-width: 500px) {
    .call-to-action {
      width: 80%; } }
  @media screen and (min-width: 700px) {
    .call-to-action {
      width: 75%; } }

footer {
  width: 95%;
  margin: auto; }
  @media screen and (min-width: 400px) {
    footer {
      width: 90%; } }
  @media screen and (min-width: 500px) {
    footer {
      width: 80%; } }
  @media screen and (min-width: 700px) {
    footer {
      width: 75%; } }
