@import "bourbon";
@import "neat";
$background-color:#EAEFD3;
$nav-color:darken($background-color, 10%);
$list-horizontal: inline;
$list-nobullet:none;
$link-color:#545677;
$link-color-hover: darken($link-color, 50%);
body {
    background-color: $background-color;
}

nav {
    background-color: $nav-color;
    position: fixed;
    top: 0px;
    width: 100%;
    ul {
        float: right;
        margin-right: 1em;
    }
    li {
        display: $list-horizontal;
        list-style: $list-nobullet;
    }
    a {
        color: $link-color;
        &:hover {
            color: $link-color-hover;
        }
    }
}

section {
    margin: auto;
    width: 95%;
    @media screen and (min-width: 400px) {
        width: 90%
    }
    @media screen and (min-width: 500px) {
        width: 80%
    }
    @media screen and (min-width: 700px) {
        width: 75%
    }
}

.intro {
    margin-top: 5em;
}

.features {
    width: 95%;
    @media screen and (min-width: 400px) {
        width: 90%
    }
    @media screen and (min-width: 500px) {
        width: 80%
    }
    @media screen and (min-width: 700px) {
        width: 75%
    }
    p {
        text-align: justify;
    }
    .wrapper {
        @include span-columns(12);
    }
    article {
        @include span-columns(12 of 12);
        img {
            @include span-columns(12 of 12);
        }
        @media screen and (min-width: 640px) {
            @include span-columns(4 of 12);
        }
    }
    .featuresImage {
        display: block;
        margin: auto;
    }
}

.call-to-action {
    width: 95%;
    margin: auto;
    @media screen and (min-width: 400px) {
        width: 90%
    }
    @media screen and (min-width: 500px) {
        width: 80%
    }
    @media screen and (min-width: 700px) {
        width: 75%
    }
}

footer {
    width: 95%;
    margin: auto;
    @media screen and (min-width: 400px) {
        width: 90%
    }
    @media screen and (min-width: 500px) {
        width: 80%
    }
    @media screen and (min-width: 700px) {
        width: 75%
    }
}
