$background-color:#EAEFD3;
$nav-color:darken($background-color, 10%);
$list-horizontal: inline;
$list-nobullet:none;
$link-color:#545677;
$link-color-hover: darken($link-color, 50%);
body {
    background-color: $background-color;
}

nav {
    background-color: $nav-color;
    position: fixed;
    top: 0px;
    width: 100%;
    ul {
        float: right;
        margin-right: 1em;
    }
    li {
        display: $list-horizontal;
        list-style: $list-nobullet;
    }
    a {
        color: $link-color;
        &:hover {
            color: $link-color-hover;
        }
    }
}

section {
    margin-left: 1em;
    margin-right: 1em;
}

.intro {
    margin-top: 5em;
}

.features {
    ul {
        padding-left: 0px;
        padding-right: 0px;
    }
    li {
        list-style: $list-nobullet;
        p {
            text-align: justify;
        }
    }
    .featuresImage {
        display: block;
        margin: auto;
    }
}
